DB_PATH=./data/seo-agent.db
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
OPENAI_API_KEY=
SCAN_LIMIT=25
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
WP_APP_PASSWORD=
WP_BASE_URL=https://cyfrovahata.com.ua
WP_USERNAME=
